#labelsPane .label{
    -fx-font-size: 23;
    -fx-font-family: "OCR A Extended";
    -fx-text-fill: #D1D1D1;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.75), 5, 0.5, 1, 1);
}


#logScrollPane .label{
    -fx-font-size: 18;
    -fx-font-family: "Lucida Console";
}

#movesPane .label {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.75), 5, 0.5, 1, 1);
}

#actionButtonsBox .label {
    -fx-font-size: 17;
    -fx-font-family: "OCR A Extended";
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.75), 5, 0.5, 1, 1);
}


#teamCardsPane {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;

    -fx-border-color: #916161;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

#teamCardsPane .label{
    -fx-font-size: 16;
    -fx-font-family: "OCR A Extended";
    -fx-text-fill: #C1C1C1;
    -fx-font-weight: bold
}

#selectMoveLbl{
    -fx-font-size: 22;
    -fx-font-family: "OCR A Extended";
    -fx-text-fill: #C1C1C1;
    -fx-font-weight: bold
}


#keepOldMovesBtnPane .label,
#forgetMoveBtnPane .label{
    -fx-font-size: 16;
    -fx-font-family: "OCR A Extended";
    -fx-font-weight: bold
}

#keepOldMovesBtnPane .label{
    -fx-text-fill: #C1C1FF;
}

#forgetMoveBtnPane .label{
    -fx-text-fill: #FFC1C1;
}


.scroll-pane {
     -fx-background-color: GRAY;
     -fx-background-radius: 8px;
     -fx-border-radius: 7px;
     -fx-border-color: DARKSLATEGRAY;
     -fx-border-width: 4;
 }

.scroll-pane .viewport {
    -fx-background-color: DARKGRAY;
}

.scroll-bar:vertical {
    -fx-background-color: DARKGRAY;
    -fx-pref-width: 8px;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: DARKSLATEGRAY;
    -fx-background-radius: 10px;
}


.button{
    -fx-font-size: 18;
    -fx-font-family: "OCR A Extended";
    -fx-background-color: transparent;
    -fx-text-fill: #D1D1D1;
}
